//About index
extends ../layout

block content
	h1 About
		small Matt Sencenbaugh
	p.lead Believe you can and you're halfway there. - T. Roosevelt
	p 
		| Developer with a large range of interests and skills. Currently passionate about mobile health, test driven development, analytics, and split testing. Stumbling along in subjects like design, hardware hacking and general business sense. Computer Science degree from 
		a(href="#",rel="tooltip",data-original-title="Best School Ever!!!") Stanford University 
		| with a specialization in Human Computer Interaction