//Contact index
extends ../layout

block content
	h1 Contact Me
	p.lead Please note I am currently unavailable for freelance work; however I would love to chat with anyone in the startup world. So if you have any questions or just want to grab a beer please feel free to drop me a line
	if successful_send.length > 0
		.alert.alert-success
			p #{successful_send}

	form.well(method="post",action="/contact")
		.control-group
			label.control-label(for="email") Email
			.controls
				input.input-xxlarge#inputEmail(placeholder="Email",name="email")
		.control-group
			label.control-label(for="message") Message
			.controls	
				textarea.input-xxlarge#inputMessage(rows=3,name="message")
		button.btn.btn-primary(type="submit") Send
